<style>
  .image-section {
    background-image: url('<%= asset_path("sign_in.png") %>');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex: 3;
  }
</style>

<h4>Forgot your password?</h4>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  
  <div class="form-group mb-3">
    <%= f.label :email, class: 'form-label' %>
    <%= f.email_field :email, autofocus: true, class: 'form-control' %>
  </div>

  <div class="d-grid gap-2 mb-3">
    <%= f.submit "Reset Password", class: "btn btn-main" %>
  </div>

  <div class="text-center">
    <%= link_to "Sign in", new_session_path(resource_name), class: "log-in-link" %>
  </div>
<% end %>